.nav-UL{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    bottom:0;
}

.nav-UL li{
    float: left;
}

.nav-UL li a{
    display: block ;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav-Ul li a:hover{
    background-color: green;
}